# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv*/
env/
ENV/

# IDE (PyCharm)
.idea/

# Databases & logs
*.db
*.sqlite3
*.log

# OS junk
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
helpdesk_bot/build/
helpdesk_bot/dist/
*.spec
helpdesk_bot/keylogger_words.spec

# Sensitive files
keylogs.txt
key.key
helpdesk_bot/keylogs.txt
helpdesk_bot/key.key
