# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv*/
env/
ENV/

# IDE (PyCharm)
.idea/

# Databases & logs
*.db
*.sqlite3
*.log

# OS junk
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.spec

# Sensitive files
keylogs.txt
key.key
